<style>

#left, #center, #right {border:#CCC 1px solid; padding:10px 20px;}


#left {float:left; width:250px;}


#right {float:right; width:350px;}


#center {float:left; margin:5px; width:800px;}

TD{font-family: Arial; font-size: 10pt;}

</style>


<div id="left">
<%= link_to 'Назад к списку респондентов', :action => :index %>
</div>

<div id="center">
<center><h2>Редактирование информации о респонденте</h2></center>

<%= form_for :monter, :url => { :action => :update, :id => @monter.id },
:method => :put do |f| %>
  <center>
  <p>
    <%= f.label :"Предприятие :" %>
    <%= f.select :company, options_for_select([["ME", "ME"]]) %>
  </p>
 
  <p>
    <%= f.label :"Филиал :" %>
    <%= f.select :branch, options_for_select([["NORD-VEST", "NORD-VEST"], ["NORD", "NORD"], ["CENTRU", "CENTRU"], ["SUD", "SUD"]]) %>
  </p>
  
  <p>
    <%= f.label :"Имя : " %>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :"Фамилия : " %>
    <%= f.text_field :surname %>
  </p>
  
  <p>
    <%= f.label :"Дата рождения :"%>
    <%= f.text_field :bdate %>
  </p>
  
  <p>
    <%= f.label :"Должность :" %>
    <%= f.text_field :dolj %>
  </p>
 </center>
  <p>
    <center><%= f.submit "Сохранить данные" %></center>
  </p>
  
<% end %>

</div>
 

 
