 <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application"%>   
  <%= csrf_meta_tags %> 	


<style type="text/css">
/*
 * Row highlighting table1
 */

#left, #center, #right {border:#CCC 1px solid; padding:10px 20px;}


#left {float:left; width:250px;}


#right {float:right; width:350px;}


#center {margin:0 100px;}



</style>

<script>


 $(document).ready(
	function() {
		$(document).ready(function() 
		{
			
		var oTable1 =	$('#table1').dataTable({
		"aoColumns": [
            { "asSorting": false},
            { "asSortable": true},
			{ "asSortable": true},
            { "asSortable": true  },
            { "asSorting": false },
			{ "asSortable": true },
			{ "asSorting": false },
			{ "asSorting": false },
			{ "asSorting": false }
					 ],
									<!-- "sDom": 'T<"clear">lfrtip', -->
									<!-- "oTableTools": {"sRowSelect": "single"},  -->
									"aoColumnDefs": [],		
									"bStateSave": true,
									"bPaginate": true,
									"bLengthChange": true,
									"bInfo": true,
									"bAutoWidth": true,
									"sPaginationType": "full_numbers", 
									"bJQueryUI": true   
									} );
				
		$('#table1 tbody').delegate("tr", "click", rowClick);						
		
		});  
		
		var hlr = 0;   // Reference to the currently highlighted row

function rowClick()
{
   if (hlr)
      $("td:first", hlr).parent().children().each(function(){$(this).removeClass('markrow');});
   hlr = this;
   $("td:first", this).parent().children().each(function(){$(this).addClass('markrow');});

   // You can pull the values out of the row here if required
   var a = $("td:first", this).text();
   var b = $("td:eq(1)", this).text();
   <!-- alert("One = "+a+", Two = "+b);  -->
}
		} );    
		
</script>

<%= link_to 'Выход', :controller => :welcome %>

<center><h1>Список респондентов</h1></center>
 <%= link_to 'Добавить респондента', :action => :new %>

 <table id="table1">
  <thead>
  <tr>
    <th>Предприятие</th>
    <th>Филиал</th>
	<th>Имя</th>
	<th>Фамилия</th>
	<th>Дата рождения</th>
	<th>Должность</th>
    <th>Действие</th>
    <th>Действие</th>
	<th>Действие</th>
  </tr>
  </thead>
  
 <tbody>
<% @monters.each do |monter| %>
  <tr>
      <td><%= monter.company %></td>
      <td><%= monter.branch %></td>
	  <td><%= monter.name %></td>
	  <td><%= monter.surname %></td>
	  <td><%= monter.bdate %></td>
	  <td><%= monter.dolj %></td>
    <td><%= link_to 'Данные',:action => :show, :id => monter.id %></td>
    <td><%= link_to 'Редактировать',:action => :edit, :id => monter.id %></td>
	<td><%= link_to 'Удалить', { :action => :destroy, :id => monter.id }, :method => :delete, :confirm => 'Вы уверенны?' %></td>  
  </tr>
<% end %>
</tbody>
</table>   









