

<style type="text/css">
 <%= stylesheet_link_tag    "application", :media => "all" %> 
  <%= csrf_meta_tags %>
<body>

<%= yield %>

</body>



#left, #center, #right {border:#CCC 1px solid; padding:10px 20px;}


#left {float:left; width:250px;}


#right {float:right; width:350px;}


#center {float:left; margin:5px; width:800px;}

TD{font-family: Arial; font-size: 10pt;}

</style>

<style type="text/css">
  # textarea.standard {
  height: 10px;
  width: 10px;
  }
</style>

<script>
	$(function () {
					$('.number').autotab({format: 'all', maxlength: 1 });
					$("#tb").fixedHeaderTable({ footer: true, cloneHeadToFoot: true, fixedColumn: true });
				});
</script>

<!doctype html>
<head>
    <meta charset="utf-8" />
    <title>PT - test Results</title>
    


    <meta charset="utf-8" />
    <title>PT - Personal card</title>
    
  
	
	<style>
    .column { width: 450px; float: left; }
    .portlet { margin: 0 1em 1em 0; }
    .portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em;background:#00 }
    .portlet-header .ui-icon { float: right; }
    .portlet-content { padding: 0.4em; }
    .ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 20px !important; }
    .ui-sortable-placeholder * { visibility: hidden; }
    </style>
	
  
	

</head>
<body>

<div id="left">
<td><%= link_to 'Back',monter_path(@monter)%></td>
</div>

<div id="center">
	<div id="tabs-3">
    <%= form_for :test, :url => { :action => :update, :id => @test.id },
			:method => :put do |f| %>
	 <!-- <%= f.select :test1, options_for_select([['Mare'], ['Stallion'], ['Gelding']], :selected => :test1) %> --> 
	<% a = ""%>		

<!--<div id="tabs">  
<!--	<TABLE border="1"
          summary="This table gives some statistics about fruit
                   flies: average height and weight, and percentage
                   with red eyes (for both males and females).">
		<CAPTION><EM>A test table with merged cells</EM></CAPTION>
		<TR><TH rowspan="2"><TH colspan="2">Тест 1
		<TR><TH>0<TH>1<TH>2<TH>3<TH>4<TH>5<TH>6<TH>7<TH>8<TH>9
		<TR><TH>0<TD><TD><%=select_tag(@test.test1, options_for_select([0,'+','-']),:class=>"number")%> 
			<TD><%=select_tag(@test.test1, options_for_select([0,'+','-']), :class=>"number")%><TD><%=select_tag(@test.test1, options_for_select([0,'+','-']),:class=>"number")%>
			<TD><%=select_tag(@test.test1, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.test1, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>	
		<TR><TH>1<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>	
		<TR><TH>2<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>	
		<TR><TH>3<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
		<TR><TH>4<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
		<TR><TH>5<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>					
				
		<TR><TH rowspan="2"><TH colspan="2">Тест 2
    	
		<TR><TH>0<TH>1<TH>2<TH>3<TH>4<TH>5<TH>6<TH>7<TH>8<TH>9
		<TR><TH>0<TD><TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%>	
		<TR><TH>1<TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%>
		<TR><TH>2<TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%>	
		<TR><TH>3<TD><%=select_tag(@test.tkat, options_for_select([0,'а','б','в','г','д']))%>					
	
		<TR><TH rowspan="2"><TH colspan="2">Тест 3
    	
		<TR><TH>0<TH>1<TH>2<TH>3<TH>4<TH>5<TH>6<TH>7<TH>8<TH>9
		<TR><TH>0<TD><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
		<TR><TH>1<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
		<TR><TH>2<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
		<TR><TH>3<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
		<TR><TH>4<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
		<TR><TH>5<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>				
		<TR><TH>6<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3,4,5,6,7,8]))%>
					
				
		<TR><TH rowspan="2"><TH colspan="2">Тест 4
    	
		<TR><TH>0<TH>1<TH>2<TH>3<TH>4<TH>5<TH>6<TH>7<TH>8<TH>9
		<TR><TH>0<TD><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>	
		<TR><TH>1<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
		<TR><TH>2<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
		<TR><TH>3<TD><%=select_tag(@test.tkat, options_for_select([0.1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>				
		<TR><TH>4<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
		<TR><TH>5<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
		<TR><TH>6<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%><TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
		<TR><TH>7<TD><%=select_tag(@test.tkat, options_for_select([0,1,2,3]))%>
									
				
		<TR><TH rowspan="2"><TH colspan="2">Тест 5
    	
		<TR><TH>0<TH>1<TH>2<TH>3<TH>4<TH>5<TH>6<TH>7<TH>8<TH>9
		<TR><TH>0<TD><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>		
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
		<TR><TH>1<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>		
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>						
		<TR><TH>2<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>		
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
		<TR><TH>3<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>		
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
		<TR><TH>4<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>		
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
		<TR><TH>5<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>		
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
		<TR><TH>6<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>		
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
		<TR><TH>7<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>		
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
		<TR><TH>8<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>		
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
		<TR><TH>9<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>		
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
		<TR><TH>10<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>		
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
		<TR><TH>11<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>		
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
		<TR><TH>12<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>		
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>						
		<TR><TH>13<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>		
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
																			
						
		<TR><TH rowspan="2"><TH colspan="2">Тест 6
    	
		<TR><TH>0<TH>1<TH>2<TH>3<TH>4<TH>5<TH>6<TH>7<TH>8<TH>9
		<TR><TH>0<TD><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>	
		<TR><TH>1<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>	
		<TR><TH>2<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>	
		<TR><TH>3<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>	
		<TR><TH>4<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>	
		<TR><TH>5<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>	
		<TR><TH>6<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>	
		<TR><TH>7<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>	
		<TR><TH>8<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			
																
				
		<TR><TH rowspan="2"><TH colspan="2">Тест 7
    	
		<TR><TH>0<TH>1<TH>2<TH>3<TH>4<TH>5<TH>6<TH>7<TH>8<TH>9
		<TR><TH>0<TD><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			
		<TR><TH>1<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
					
		<TR><TH>2<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			
		<TR><TH rowspan="2"><TH colspan="2">Тест 8
    	
		<TR><TH>0<TH>1<TH>2<TH>3<TH>4<TH>5<TH>6<TH>7<TH>8<TH>9
		<TR><TH>0<TD><TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'a','b','c']))%><TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'a','b','c']))%><TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%>
			<TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%><TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%>
			<TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%><TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%>	
		<TR><TH>1<TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%><TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%>
			<TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%><TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%>
			<TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%><TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%>
			<TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%><TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%>
			<TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%><TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%>
		<TR><TH>2<TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%><TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%>
			<TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%><TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%>
			<TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%><TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%>
			<TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%><TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%>
			<TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%><TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%>	
		<TR><TH>3<TD><%=select_tag(@test.tkat, options_for_select(['0','a','b','c']))%>			
				
		<TR><TH rowspan="2"><TH colspan="2">Тест 9
    	
		<TR><TH>0<TH>1<TH>2<TH>3<TH>4<TH>5<TH>6<TH>7<TH>8<TH>9
		<TR><TH>0<TD><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
		<TR><TH>1<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
		<TR><TH>2<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
		<TR><TH>3<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
			<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
		<TR><TH>4<TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%><TD><%=select_tag(@test.tkat, options_for_select([0,'+','-']))%>
												
	</TABLE>  -->
	</div>
	
    </div> 
	
	</div>
	
	<div id="tabs-1">
    <strong>test Date:</strong>
    <%= @test.date %><br><br>
		
	
	<strong>(<%= @test.ib %>)
	<%= @test.tkat %></strong>
	<br><br>
	
	
	(<%= @test.b1 %>)
	<%= @test.tb1 %><br><br>
	(<%= @test.b2 %>)
	<%= @test.tb2 %><br><br>
	(<%= @test.b3 %>)
	<%= @test.tb3 %>
	<br><br>	
	<br>
    </div>
	
 <div> 
  <p>
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </p>
  	
  <% t = [50,30,60,70,70,70,70,70,40]%>	
  <%= "TEST1" %><br>
  	
  <% if @test.test1 %>	
  	<% for i in 0..50 %>
  		<% s = @test.test1[i]%>
  	 	<input id="1" name="test1[]" type="text" style="width: 12px; padding: 3px; 
  	 	background-color :white; border: solid 1px; color:purple;" value="<%= s %>"  class="number" />
      	<% i = i+1 %>
     <% end %> 	
   <% else %>
   <% s = ""%>
     <% for i in 0..50 %>
  	 	<input id="1" name="test1[]" type="text" style="width: 12px; padding: 3px; 
  	 	background-color :white; border: solid 1px; color:purple;" value="<% s %>"  class="number" />
      	<% i = i+1 %> 	
   <% end %>
  <% end %> 
    <br>
   <%= "TEST2" %><br>
   <% if @test.test2 %>	
  	<% for i in 0..30 %>
  	<% s = @test.test2[i]%>
  	 <input id="1" name="test2[]" type="text" style="width: 12px; padding: 3px; 
  	 background-color :white; border: solid 1px; color:purple;" value="<%= s %>"  class="number" />
      <% i = i+1 %>  	    
   <% end %>
   <% else %>
     <% for i in 0..30 %>
     <% s = ""%>
  	 	<input id="1" name="test2[]" type="text" style="width: 12px; padding: 3px; 
  	 	background-color :white; border: solid 1px; color:purple;" value="<% s %>"  class="number" />
      	<% i = i+1 %> 	
   <% end %>
   <% end %>
   <br>
   <%= "TEST3" %><br>
   <% if @test.test3 %>	
  	<% for i in 0..60 %>
  	<% s = @test.test3[i]%>
  	 <input id="1" name="test3[]" type="text" style="width: 12px; padding: 3px; 
  	 background-color :white; border: solid 1px; color:purple;" value="<%= s %>"  class="number" />
      <% i = i+1 %>  	    
   <% end %>
   <% else %>
     <% for i in 0..60 %>
     <% s = ""%>
  	 	<input id="1" name="test3[]" type="text" style="width: 12px; padding: 3px; 
  	 	background-color :white; border: solid 1px; color:purple;" value="<% s %>"  class="number" />
      	<% i = i+1 %> 	
   <% end %>
   <% end %>
   <br>
   <%= "TEST4" %><br>	
   <% if @test.test4 %>
  	<% for i in 0..70 %>
  	<% s = @test.test4[i]%>
  	 <input id="1" name="test4[]" type="text" style="width: 12px; padding: 3px; 
  	 background-color :white; border: solid 1px; color:purple;" value="<%= s %>"  class="number" />
      <% i = i+1 %>  	    
   <% end %>
   <% else %>
     <% for i in 0..70 %>
     <% s = ""%>
  	 	<input id="1" name="test4[]" type="text" style="width: 12px; padding: 3px; 
  	 	background-color :white; border: solid 1px; color:purple;" value="<% s %>"  class="number" />
      	<% i = i+1 %> 	
   <% end %>
   <% end %>
   <br>
   <%= "TEST5" %><br>	
   <% if @test.test5 %>
  	<% for i in 0..70 %>
  	<% s = @test.test5[i]%>
  	 <input id="1" name="test5[]" type="text" style="width: 12px; padding: 3px; 
  	 background-color :white; border: solid 1px; color:purple;" value="<%= s %>"  class="number" />
      <% i = i+1 %>  	    
   <% end %>
   <% else %>
     <% for i in 0..70 %>
     <% s = ""%>
  	 	<input id="1" name="test5[]" type="text" style="width: 12px; padding: 3px; 
  	 	background-color :white; border: solid 1px; color:purple;" value="<% s %>"  class="number" />
      	<% i = i+1 %> 	
   <% end %>
   <% end %>
   <br>
   <%= "TEST6" %><br>
   <% if @test.test6 %>	
  	<% for i in 0..70 %>
  	<% s = @test.test6[i]%>
  	 <input id="1" name="test6[]" type="text" style="width: 12px; padding: 3px; 
  	 background-color :white; border: solid 1px; color:purple;" value="<%= s %>"  class="number" />
      <% i = i+1 %>  	    
   <% end %>
   <% else %>
     <% for i in 0..70 %>
     <% s = ""%>
  	 	<input id="1" name="test6[]" type="text" style="width: 12px; padding: 3px; 
  	 	background-color :white; border: solid 1px; color:purple;" value="<% s %>"  class="number" />
      	<% i = i+1 %> 	
   <% end %>
   <% end %>
   <br>
   <%= "TEST7" %><br>
   <% if @test.test7 %>	
  	<% for i in 0..70 %>
  	<% s = @test.test7[i]%>
  	 <input id="1" name="test7[]" type="text" style="width: 12px; padding: 3px; 
  	 background-color :white; border: solid 1px; color:purple;" value="<%= s %>"  class="number" />
      <% i = i+1 %>  	    
   <% end %>
   <% else %>
     <% for i in 0..70 %>
     <% s = ""%>
  	 	<input id="1" name="test7[]" type="text" style="width: 12px; padding: 3px; 
  	 	background-color :white; border: solid 1px; color:purple;" value="<% s %>"  class="number" />
      	<% i = i+1 %> 	
   <% end %>
   <% end %>
   <br>
   <%= "TEST8" %><br>	
   <% if @test.test8 %>
  	<% for i in 0..70 %>
  	<% s = @test.test8[i]%>
  	 <input id="1" name="test8[]" type="text" style="width: 12px; padding: 3px; 
  	 background-color :white; border: solid 1px; color:purple;" value="<%= s %>"  class="number" />
      <% i = i+1 %>  	    
   <% end %>
   <% else %>
     <% for i in 0..70 %>
     <% s = ""%>
  	 	<input id="1" name="test8[]" type="text" style="width: 12px; padding: 3px; 
  	 	background-color :white; border: solid 1px; color:purple;" value="<% s %>"  class="number" />
      	<% i = i+1 %> 	
   <% end %>
   <% end %>
   <br>
   <%= "TEST9" %><br>
   <% if @test.test9 %>	
  	<% for i in 0..70 %>
  	<% s = @test.test9[i]%>
  	 <input id="1" name="test9[]" type="text" style="width: 12px; padding: 3px; 
  	 background-color :white; border: solid 1px; color:purple;" value="<%= s %>"  class="number" />
      <% i = i+1 %>  	    
   <% end %>
   <% else %>
     <% for i in 0..70 %>
     <% s = ""%>
  	 	<input id="1" name="test9[]" type="text" style="width: 12px; padding: 3px; 
  	 	background-color :white; border: solid 1px; color:purple;" value="<% s %>"  class="number" />
      	<% i = i+1 %> 	
   <% end %>
   <% end %>
 </div>
 
  <p>
    <center><%= f.submit %></center>
  </p>
  
  	
<% end %>
	
  <tr> 
  </tr>
  
  </body>
</html>


  
  